@charset "UTF-8";
.site {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 0fr 1fr;
  grid-template-rows: 0fr 1fr;
  grid-template-areas:
    'title title'
    'main sidebar'
    'main footer';
}

.masthead {
  grid-area: header;
  background-color: purple;
}

.page-title {
  grid-area: title;
  background-color: grey;
}

.main-content {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

.sidebar-items {
  grid-area: sidebar;
}

.footer {
  padding: 0% 0% 0% 0%;
  grid-area: footer;
  color: white;
  overflow: hidden;
}

button {
  width: flex;
  background-color: #660708;
  border: none;
  padding: 6%;
  color: white;
  font-size: 0.7em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 5%;
}

.target {
  background-color: #660708;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5%;
  padding: 0% 0% 0% 0%;
}

.controls {
  background-color: #660708;
  border: none;
  color: white;
  padding: 0% 0% 0% 0%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5%;
}

.parent {
  overflow: hidden;
  margin-top: 50px;
  display: flex;
}

.child {
  height: 150px;
  float: left;
  margin-left: 20px;
  border: 1px solid #000;
  text-align: center;
  line-height: 150px;
  cursor: pointer;
  background-color: #ddd;
}

.selected {
  color: #fff;
  font-weight: bold;
  border: 1px solid white;
}

.diskutils {
  display: flex;
}

.towers {
  padding-top: 30%;
  display: grid;
}

/* .cat {
	width: 200px;
	height: 200px;
	display: inline-block;
	background-color: #a3a3a3;
	margin-right: 20px;
    margin-bottom: 20px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	line-height: 200px;
	cursor: pointer;
}

.selected {
	opacity: 0.5;
} */
/* .target{
  
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
} */

@-webkit-keyframes noanimation {
  0% {
    background: #d62623;
  }
  50% {
    background: #ee3430;
  }
  100% {
    background: #fb3733;
  }
}

@keyframes noanimation {
  0% {
    background: #d62623;
  }
  50% {
    background: #ee3430;
  }
  100% {
    background: #fb3733;
  }
}

.gameoverclass {
  width: 750px;
  height: auto;
  padding-top: 60px;
  background: none;
}

.gameoverclass p {
  position: fixed;
  top: 300px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 160px;
  font-family: 'Bungee Shade', cursive;
  line-height: 120px;
  text-align: center;
  text-shadow: 5px 5px #000000;
  color: #ffffff;
}

.winnerclass {
  width: 750px;
  height: auto;
  padding-top: 60px;
  background: none;
}

.winnerclass p {
  position: fixed;
  top: 300px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 160px;
  font-family: 'Bungee Shade', cursive;
  line-height: 120px;
  text-align: center;
  text-shadow: 5px 5px #000000;
  color: #ffffff;
}

.playagain {
  width: 750px;
  height: auto;
  padding-top: 40px;
}

.playagain p {
  /* margin-top: 0px; */
  margin-bottom: 0px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: corbel;
  color: #ffffff;
  text-shadow: 2.5px 2.5px #000000;
}

#game {
  position: fixed;
  top: 20%;
  left: 20%;
}

#over {
  position: fixed;
  top: 40%;
  left: 20%;
}

#you {
  position: fixed;
  top: 20%;
  left: 20%;
}

#win {
  position: fixed;
  top: 40%;
  left: 20%;
}

#playagain {
  position: fixed;
  top: 70%;
  left: 25%;
}

.options {
  width: 550px;
  height: auto;
  padding-top: 50px;
  margin: auto;
}

.yes a {
  position: fixed;
  /* display: block; */
  left: 14em;

  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: corbel;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 2.5px 2.5px #000000;
  padding: 15px 60px 20px 55px;
  border-radius: 30px;
  border: 1px solid #000000;
  background: #f28f3b;
  margin-right: 30px;
  float: left;
}

@-webkit-keyframes yesanimation {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
  }
}

@keyframes yesanimation {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.yes a:hover {
  -webkit-animation-name: yesanimation;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-name: yesanimation;
  -moz-animation-duration: 0.8s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  animation-name: yesanimation;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.slide-bck-center {
  -webkit-animation: slide-bck-center 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: slide-bck-center 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.no a {
  position: fixed;
  /*   display: block; */
  /*   bottom: 4em; */
  left: 26em;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: corbel;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1.5px 1.5px #fb3733;
  padding: 15px 60px 20px 55px;
  border-radius: 30px;
  background: #660708;
  float: left;
}

@-webkit-keyframes noanimation2 {
  0% {
    -webkit-transform: translate(-5px, 0px);
  }
  25% {
    -webkit-transform: translate(-2.5px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 0px);
  }
  75% {
    -webkit-transform: translate(2.5px, 0px);
  }
  100% {
    -webkit-transform: translate(5px, 0px);
  }
}

@keyframes noanimation2 {
  0% {
    -webkit-transform: translate(-5px, 0px);
    transform: translate(-5px, 0px);
  }
  25% {
    -webkit-transform: translate(-2.5px, 0px);
    transform: translate(-2.5px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  75% {
    -webkit-transform: translate(2.5px, 0px);
    transform: translate(2.5px, 0px);
  }
  100% {
    -webkit-transform: translate(5px, 0px);
    transform: translate(5px, 0px);
  }
}

.no a:hover {
  -webkit-animation-name: noanimation2;
  -webkit-animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-name: noanimation2;
  -moz-animation-duration: 0.15s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  animation-name: noanimation2;
  animation-duration: 0.15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.content-table {
  width: 70%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px #4e0506;
  box-shadow: 0 0 20px #4e0506;
  padding: 70px 0;
  text-align: center;
  position: relative;
  top: 50%;
  left: 15%;
}

.content-table thead tr {
  background-color: #660708;
  color: white;
  /*   text-align: ; */
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #660708;
  color: white;
}

.content-table tbody tr:nth-of-type(even) {
  border-bottom: 1px solid #4e0506;
}

.content-table tbody tr:first-of-type {
  background-color: goldenrod;
}

.content-table tbody tr.active-row {
  /* aktuális játékost lehetne így kiemelni */
  font-weight: bold;
  color: #660708;
}
/*# sourceMappingURL=style.css.map */
