$main-color:  #660708;
$yes-color: #F28F3B;

.site{
  display: grid;
  grid-template-columns: 1fr 1fr;
   grid-template-rows: 0fr 1fr; 
  grid-template-areas:
    'title title'
    'main sidebar'
    'main footer'; 
} 

.masthead {
  grid-area: header;
  background-color: purple;
}

.page-title {
  grid-area: title;
  background-color: grey;
}

.main-content {
  grid-area: main;
}

.sidebar {  
 grid-area: sidebar;

}  

 .sidebar-items{
  padding-top: 10%;
  grid-area: sidebar;  
} 
.footer {
  grid-area: footer;
  color:white;
}


#demolishButton{
  display: none;
}

 @-webkit-keyframes noanimation {
    0% {background: #D62623;}
		50% {background: #EE3430;}
    100% {background: #FB3733;} 
}

@-moz-keyframes noanimation {
    0% {background: #D62623;}
	  50% {background: #EE3430;}
    100% {background: #FB3733;} 
}

@keyframes noanimation { 
  0% {background: #D62623;}
	50% {background: #EE3430;}
  100% {background: #FB3733;} 
}

.gameoverclass {
  width:750px;
			height: auto;
			padding-top: 60px;
      background: none;
}

.gameoverclass p {
  position: fixed;
  top: 300px;
  margin-top: 0px;
			margin-bottom: 0px;
			font-size: 160px;
		font-family: 'Bungee Shade', cursive;
			line-height: 120px;
			text-align: center;
			text-shadow: 5px 5px #000000;
      color: #ffffff;
}
      
.playagain	{
  width: 750px;
	height: auto;
  padding-top: 40px;
}

.playagain p {margin-top: 0px;
			margin-bottom: 0px;
			text-align: center;
			font-size: 40px;
			font-weight: bold;
			font-family: corbel;
			color: #ffffff;
      text-shadow: 2.5px 2.5px #000000;
}
      
#game{
  position: absolute;
  top: 200px;
  left: 150px;
}

#over{
  position: absolute;
  top: 400px;
  left: 150px;
}

#playagain{
  position: absolute;
  top: 600px;
  left: 300px;
}

.options {width: 550px;
		height: auto;
		padding-top: 50px;
    margin: auto;
}

.yes a {
  text-align: center;
		font-size: 30px;
		font-weight: bold;
		font-family: corbel;
		color: #ffffff;
		text-decoration: none;
		text-shadow: 2.5px 2.5px #000000;
		padding: 25px 110px 25px 110px;
    border: 1px solid #000000;
		border-radius: 20px;
		background: $yes-color;
		margin-right: 30px;
    float: left;
  }

 @-webkit-keyframes yesanimation {
   from {-webkit-transform: scale(1);} 
  to {-webkit-transform: scale(1.2);} 
} 

@-moz-keyframes yesanimation {
   from {-moz-transform: scale(1);} 
  to {-moz-transform: scale(1.1);} 
}

@keyframes yesanimation {
  from {transform: scale(1);} 
  to {transform: scale(1.1);} 
}

.yes a:hover {
  -webkit-animation-name: yesanimation;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-timing-function:  linear;
	-webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-name: yesanimation;
  -moz-animation-duration: 0.8s;
  -moz-animation-timing-function:  linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;

	animation-name: yesanimation;
	animation-duration: 0.8s;
	animation-timing-function:  linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;}



.no a {
  text-align: center;
	font-size: 30px;
	font-weight: bold;
	font-family: corbel;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 1.5px 1.5px #FB3733;
	padding: 25px 100px 25px 100px;
	border-radius: 20px;
	background: $main-color;
  float: left;
}


 @-webkit-keyframes noanimation2 {
   0% {-webkit-transform: translate(-5px,0px);} 
	25% {-webkit-transform: translate(-2.5px, 0px);}
	50% {-webkit-transform: translate(0px, 0px);}
	75% {-webkit-transform: translate(2.5px, 0px);}
	100% {-webkit-transform: translate(5px, 0px);} }

@-moz-keyframes noanimation2 {
  0% {-moz-transform: translate(-5px,0px);} 
	25% {-moz-transform: translate(-2.5px, 0px);}
	50% {-moz-transform: translate(0px, 0px);}
	75% {-moz-transform: translate(2.5px, 0px);}
	100% {-moz-transform: translate(5px, 0px);} }

@keyframes noanimation2 { 0% {transform: translate(-5px,0px);} 
	25% {transform: translate(-2.5px, 0px);}
	50% {transform: translate(0px, 0px);}
	75% {transform: translate(2.5px, 0px);}
	100% {transform: translate(5px, 0px);} }


.no a:hover {-webkit-animation-name: noanimation2;
		-webkit-animation-duration: 0.15s;
		-webkit-animation-timing-function:  linear;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction: alternate;

		-moz-animation-name: noanimation2;
		-moz-animation-duration: 0.15s;
		-moz-animation-timing-function:  linear;
		-moz-animation-iteration-count: infinite;
		-moz-animation-direction: alternate;

		animation-name: noanimation2;
		animation-duration: 0.15s;
		animation-timing-function:  linear;
		animation-iteration-count: infinite;
    animation-direction: alternate;} 
    
.content-table{
  width: 70%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size:0.9em;
  min-width: 400px;
  border-radius:  5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px #4e0506;

  padding: 70px 0;
  text-align: center;
  position: relative;
  top: 50%;
  left: 15%;

  }

.content-table thead tr {
  background-color: #660708;
  color: white;
/*   text-align: ; */
  font-weight: bold;
  }

  .content-table th,
  .content-table td{
    padding: 12px 15px;
  }

  .content-table tbody tr {
    border-bottom: 1px solid  #660708;
    color:white;
  }
  
  .content-table tbody tr:nth-of-type(even){
    border-bottom: 1px solid #4e0506

  }

  .content-table tbody tr:first-of-type{
    background-color: goldenrod;
      
  }

  .content-table tbody tr.active-row { /* aktuális játékost lehetne így kiemelni */
    font-weight: bold;
    color:  #660708;
  }
 